.maplibregl-popup .fas {
  margin: 0 10px;
  font-size: 1.75em;
}

.maplibregl-popup p {
  text-align: left;
}

.maplibregl-popup h1 {
  font-size: 1.25em;
}

a {
  color: inherit;
}

.directions-button {
  background: none;
  border: none;
}

.current-location-marker {
  color: var(--blue-600);
}

.location-marker i {
  color: var(--red-600);
}
